* {

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
    }
    
    body {
    
    font-family: cursive;
    
    }
    
    a {
    
    text-decoration: none;
    
    }
    
    li {
    
    list-style: none;
    
    }
    .navbar {

        display: flex;
        
        align-items: center;
        
        justify-content: space-between;
        
        padding: 20px;
        
        background-color: black;
        
        color: #fff;
        
        }
        
        .nav-links a {
        
        color: #fff;
        
        }
        
        /* LOGO */
        
        .logo {
        
        font-size: 32px;
        
        }
        
        /* NAVBAR MENU */
        
        .menu {
        
        display: flex;
        
        gap: 1em;
        
        font-size: 18px;
        
        }
        
        .menu li:hover {
        
        background-color: #4c9e9e;
        
        border-radius: 5px;
        
        transition: 0.3s ease;
        
        }
        
        .menu li {
        
        padding: 5px 14px;
        
        }
        
        /* DROPDOWN MENU */
        
        .services {
        
        position: relative;
        
        }
        
        .dropdown {
        
        background-color: rgb(1, 139, 139);
        
        padding: 1em 0;
        
        position: absolute; /*WITH RESPECT TO PARENT*/
        
        display: none;
        
        border-radius: 8px;
        
        top: 35px;
        
        }
        
        .dropdown li + li {
        
        margin-top: 10px;
        
        }
        
        .dropdown li {
        
        padding: 0.5em 1em;
        
        width: 8em;
        
        text-align: center;
        
        }
        
        .dropdown li:hover {
        
        background-color: #4c9e9e;
        
        }
        
        .services:hover .dropdown {
        
        display: block;
        }
      
Dropdown Button
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 